* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
}
body {
  overflow-x: hidden;
  width: 100%;
  height: auto;
  background-color: #f3f3f3;
}
#simple-menu ul {
  background-color: black;
}
